<head>
<title>동성애의 진실</title>
<meta name=”description=” content="동성애의 진실을 알려주고 동성애에 관한 자세한 정보를 정확한 근거에 의해 제공하며, 현재 대한민국에서 왜곡되어
 전파되고 있는 동성애의 진실을 바로 잡기위해 노력합니다.">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/static/main.css" />
</head>
